:root {
    --primary-color: #5c6bc0;
    --hover-color: #3949ab;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #e0e0e0;
    --border-hover-color: #c0c0c0;
    --input-border-color: #ddd;
    --pane-shadow: rgba(0,0,0,0.05);
    --active-border-color: #5c6bc0; 
    --pane-title-background: #e8eaf6; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    line-height: 1.6; 
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.top-pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--background-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.pane-title, .button-bar button, #entry-title {
    font-weight: 600;
}


#entry-title {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px; 
    margin-right: 10px;
}

.button-bar {
    display: flex;
}

.button-container {
    display: flex;
    align-items: center;
}

.move-btn, .delete-btn, .color-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: var(--hover-color);
}
.modal, .color-picker {
    z-index: 2000; /* or a higher value if needed */
}


.color-picker input[type="color"] {
    border: none;
    width: 48px;
    height: 48px;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-picker input[type="color"]::-webkit-color-swatch {
    border: none;
}
.entry-item.dragging, 
.entry-pane.dragging {
    opacity: 0.5;
}
.entry-item.drag-over, 
.entry-pane.drag-over {
    border: 2px dashed var(--primary-color);
    background-color: var(--hover-color);
}
.entry-item.dynamic-text-color {
    color: var(--dynamic-text-color);
}


.color-picker-icon {
    width: 24px; 
    height: 24px;
    cursor: pointer;
}

.rename-input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.save-rename-btn, .cancel-rename-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

.cancel-rename-btn {
    background-color: #ccc;
    color: var(--text-color);
}

.cancel-rename-btn:hover {
    background-color: #bbb;
}
input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--background-color);
    margin: 0;
    font: inherit;
    color: var(--text-color);
    width: 1em;
    height: 1em;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
input[type='checkbox']:checked::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0% 70%, 50% 100%, 100% 28%, 85% 14%, 50% 68%);
    background-color: var(--primary-color);
    display: block;
}
input[type='checkbox']:hover {
    cursor: pointer;
    border-color: var(--hover-color);
}
input[type='checkbox']:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--active-border-color);
}


.color-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid var(--input-border-color);
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
}

.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.button-bar button {
    padding: 10px 15px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}
.button-bar button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--hover-color);
}

.button-bar button:hover {
    background-color: var(--hover-color);
}
.button-bar button, .entry-item {
    padding: 12px 18px;
}
.button-bar button, .color-option {
    border-radius: 8px;
}


.content-area {
    display: flex;
    height: 100%;
    padding: 10px;
    padding-left:0px;
}

#entry-list {
    flex: none;
    width: 20%;
    max-width: 250px;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid var(--border-color);
}
#entry-list, .entry-pane {
    border: 1px solid var(--border-color);
    
}
.entry-item:hover, .button-bar button:hover {
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    
}



#entry-content {
    flex-grow: 1;
    padding: 10px;
    height: 93%;
}
.top-pane, .entry-pane, .color-picker {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);

}


.entry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px; 
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.entry-item:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-color: var(--border-hover-color);
}

.entry-item.active {
    border: 2px solid var(--active-border-color);
    font-weight: bold; 
}

#entry-content-storage {
    display: none;
}

.split-vertical, .split-horizontal {
    display: flex;
    height: 100%;
}

.split-horizontal {
    flex-direction: row;
}

.split-vertical > .entry-pane,
.split-horizontal > .entry-pane {
    flex: 1;
    margin: 5px;
    border-radius: 5px;
}

.pane-title {
    background-color: var(--pane-title-background);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.entry-pane {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px 0 var(--pane-shadow);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.bg-color-picker-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.entry-pane > div[contenteditable="true"] {
    padding: 15px;
    font-size: 1rem;
    height: calc(100% - 50px);
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-hover-color);
    border-radius: 10px;
}

@media screen and (max-width: 720px) {
    .content-area {
        flex-direction: column;
    }

    #entry-list, #entry-content {
        width: 100%;
        height: auto;
        border-right: none;
    }
    
    .button-bar button {
        padding: 12px;
    }
    
    
    .entry-pane {
        margin: 5px 0;
    }
}




